body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

form {
    margin: 20px 0;
}

select, input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
